{% extends 'base.html.twig' %}

{% block title %}Envoyeur index{% endblock %}

{% block body %}
    <h1>Envoyeur index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Adresse</th>
                <th>Numeropiece</th>
                <th>Typepiece</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for envoyeur in envoyeurs %}
            <tr>
                <td>{{ envoyeur.id }}</td>
                <td>{{ envoyeur.nom }}</td>
                <td>{{ envoyeur.prenom }}</td>
                <td>{{ envoyeur.telephone }}</td>
                <td>{{ envoyeur.adresse }}</td>
                <td>{{ envoyeur.numeropiece }}</td>
                <td>{{ envoyeur.typepiece }}</td>
                <td>
                    <a href="{{ path('envoyeur_show', {'id': envoyeur.id}) }}">show</a>
                    <a href="{{ path('envoyeur_edit', {'id': envoyeur.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('envoyeur_new') }}">Create new</a>
{% endblock %}
